APP_NAME="Sector Selection"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

APP_LOCALE=en
APP_FALLBACK_LOCALE=en

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=15432
DB_DATABASE=sector_selection
DB_USERNAME=sector_selection
DB_PASSWORD=sector_selection

SESSION_DRIVER=database
SESSION_LIFETIME=120

CACHE_STORE=file
