*.log
.DS_Store
.env*
!.env.example
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.phpunit.cache
/.vscode
/auth.json
/public/build
/public/storage
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
Thumbs.db
